#grid {
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.cell {
    border: 1px solid black;
}

.colour {
    width: 30px;
    height: 20px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
} .colour:hover {
    width: 26px;
    height: 16px;
    border: 2px solid black;
}

.invisible {
    visibility: hidden;
}

.selected {
    width: 24px;
    height: 14px;
    border: 3px solid black;
}